.signup__footer
  .signup__footer__details
    %nav
      %ul.menu
        %li
          = link_to "プライバシーポリシー","#"
        %li
          = link_to "メルカリ利用規約","#"
        %li
          = link_to "特定商取引に関する表記","#"
    .signup__footer__icon
      =link_to image_tag("logo-white.png", width:"185", height:"50",class:"footer__icon"),"#" 
      %p.inc
        ©️FURIMA,Inc.