.banner
  %div{:style => "background-image:url(#{asset_path "bg-appBanner-pict.jpg"})"}
  .inner
    %h2.inner-title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner-text
      今すぐ無料ダウンロード
    .inner-icon
      .abtn
        =link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: '180', height: '53.55'),"/"
      .gbtn
        =link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: '180', height: '53.55'),"/"